extends layout

block content

  section(style="margin: 5%")
    h1 Error 404
    h3 Opps!
    div
      p Parece que el contenido que buscas no está disponible o no existe!
  //h1= message
  //h2= error.status
  ///pre #{error.stack}
