section {
    margin-left: 3%;
}

.question-container {
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.question-title {
    margin-top: 0%;
    margin-bottom: 3%;
    font-weight: bold;
}

tr td:nth-of-type(1) {
    font-weight: bold;
}

td img {
    width: 25%;
}


/*MODAL CONTENT*/

.modal-content img {
    display: block;
    margin: 2% auto;
}


/*SECTION FOR EDIT AND DELETE */

div.title-container a.btn {
    display: block;
    background-color: #F44336;
}